{% block melv_content_search_manufacturer_results %}
    {% set categories = page.searchResult.extensions.categories %}
    {% for category in categories %}
        <li class="search-suggest-product js-result">
            <a href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}"
               title="{{ category.translated.name }}"
               class="search-suggest-product-link">
                <div class="row align-items-center {{ gridNoGuttersClass }}">
                    {% block layout_search_suggest_result_image %}
                        <div class="col-auto search-suggest-product-image-container">
                            {% if category.media.url %}
                                {% sw_thumbnails 'search-suggest-product-image-thumbnails' with {
                                    media: category.media,
                                    sizes: {
                                        'default': '100px'
                                    },
                                    attributes: {
                                        'class': 'search-suggest-product-image',
                                        'alt': (category.media.translated.alt ?: ''),
                                        'title': (category.media.translated.title ?: '')
                                    }
                                } %}
                            {% else %}
                                {% sw_icon 'placeholder' style {
                                    'size': 'lg'
                                } %}
                            {% endif %}
                        </div>
                    {% endblock %}

                    {% block layout_search_suggest_result_name %}
                        <div class="col search-suggest-product-name">
                            {{ category.translated.name }}
                        </div>
                    {% endblock %}
                </div>
            </a>
        </li>
    {% endfor %}
{% endblock %}
